#canvas rect {
	/*fill: none;*/
}
#canvas rect:nth-child(10) {
	cursor: nw-resize !important
}	
#canvas rect:nth-child(7) {
	cursor: e-resize !important
}
#canvas rect:nth-child(8) {
	cursor: ns-resize !important
}
#canvas rect:nth-child(9) {
	cursor: grabbing !important
}